{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1> Task Master </h1>

<div class="content"> 
    <table>
    <tr>
        <th> Task</th>
        <th>Added</th>
        <th>Actions</th>

    </tr>
    {% for task in tasks %} 
    <tr>
         <td> {{ task.content }}</td> <!-- Esto lo que hace es indicar que aquí se pondrá el valor del contenido de la tarea -->
        <!-- La siguiente linea es para poner la fecha sin la hora -->
         <td>{{ task.date_created.date() }}</td> 
        <td>
            <a href="/delete/{{ task.id }}">Delete</a>
            <br>
            <a href="/update/{{ task.id }}">Update</a>
        </td>
    </tr>
    {% endfor %}
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>

</div>
{% endblock %}