{% extends 'base.html' %}

{% block head %}
<title> Crear una tarea </title>

<link rel="shortcut icon" type="image/x-icon"
    href="https://raw.githubusercontent.com/Archerd6/Aplicacion-robots-asistenciales-Web/main/Documentos%20del%20proyecto/Logo.png" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
{% endblock %}

{% block body %}
    <h1 class="principal" style="text-align:center"> Formulario para crear una tarea</h1>

    <div class="acceso">

        <form method="post">

            <p>
                Nombre de la tarea:
                <input type="text" name="nombre" size="45" value="Tarea sin definir"> 
            </p>
            <p>
                Prioridad:
                <input type="text" name="prioridad" size="45" value="Prioridad sin definir">
            </p>

            <p>
                <h3 style="text-align:center">Atributos</h3>
                <input type="text" name="atributos" id="atributos" size="45" value="" readonly="readonly">

                Nombre Atributo:
                <input type="text" name="n_atributo" id="n_atributo" size="45" value="Atributo-1">
                <center> 
                    <input type="button" name="campo_de_tarea" class="buttonAnadirTarea2" value="Añadir atributo"
                        onclick="(getElementById('atributos').getAttribute('value')!='') ? getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+','+getElementById('n_atributo').value) : getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+getElementById('n_atributo').value);getElementById('n_atributo').setAttribute('value','Atributo-2');">
                </center>
            </p>
                


            <p>
                Descripción:
                <textarea name="descripcion" rows="10" cols="50">Descripcion de la tarea</textarea>
            </p>

            <p>
                <input type="submit" class="buttonAnadirTarea" value="Crear tarea">
                
            </p>

            <button type="reset" class="buttonAnadirTarea" onClick="window.location.href='/Interfaz_tecnico.html';">Cancelar</button>

        </form>
    </div>

{% endblock %}