{% extends 'base.html' %}

{% block head %}
    <title> Crear una tarea </title>

    <link rel="shortcut icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/Archerd6/Aplicacion-robots-asistenciales-Web/main/Documentos%20del%20proyecto/Logo.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    {% endblock %}

    {% block body %}


<body>
    <center>
        <h1 class="principal"> Formulario para crear una tarea</h1>



        <div class="acceso">

            <form method="post">

                <p>
                    Nombre de la tarea:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="nombre" size="45" value="{{ task.content }}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>

                <p>
                    Atributos:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="atributos" id="atributos" size="45"value="{{ task.atributos }}">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                </p>
                <p>
                    Nombre Atributo:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="n_atributo" id="n_atributo" size="45" value="">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                   
                </p>
                <p>
                    <input type="button" class="buttonAnadirTarea2" value="Añadir atributo" onclick="getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+','+getElementById('n_atributo').getAttribute('value'))">
                </p>


                <p>
                    Descripción:<br>
                    <textarea name="descripcion" rows="10" cols="50">{{ task.descripcion }}</textarea>
                </p>

                <p>
                    <input type="submit" class="button2" value="Modificar tarea">
                    
                </p>

                <button type="submit" class="buttonAnadirTarea" onClick="window.location.href='Interfaz_tecnico.html';">Cancelar</button>

            </form>
        </div>
    </center>
    {% endblock %}