{% extends 'base.html' %}

{% block head %}
<title> Crear una tarea </title>

<link rel="shortcut icon" type="image/x-icon"
    href="https://raw.githubusercontent.com/Archerd6/Aplicacion-robots-asistenciales-Web/main/Documentos%20del%20proyecto/Logo.png" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
{% endblock %}

{% block body %}


<body>
    <center>
        <h1 class="principal"> Formulario para modificar una tarea</h1>
    </center>

        <div class="acceso">

            <form method="post">

                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; Nombre de la tarea:
                    <input type="text" name="nombre" size="45" value="{{ task.content }}">
                </p>


                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; Prioridad: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="text" name="prioridad" size="45" value="{{ task.priority }}">
                </p>

                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; Atributos: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="text" name="atributos" id="atributos" size="45" value="{{ task.atributos }}" readonly="readonly">
                </p>

                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; Nombre Atributo: &nbsp; &nbsp;
                    <input type="text" name="n_atributo" id="n_atributo" size="45" value=""> &nbsp; &nbsp;
                    <input type="button" class="buttonAnadirTarea2" value="Añadir atributo" onclick="getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+','+getElementById('n_atributo').value);">
                </p>

                <!-- <script>
                    function anadiratributo() {
                        // if(getElementById('atributos').getAttribute('value'))
                        // {
                        //     getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+getElementById('n_atributo').value);
                        // }
                        // else
                        // {
                        //     getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+','+getElementById('n_atributo').value);
                        // }
                        getElementById('atributos').setAttribute('value', getElementById('atributos').getAttribute('value')+','+getElementById('n_atributo').value);
                    }
                </script> -->

                <p>
                    <center>
                        Descripción:<br>
                        <textarea name="descripcion" rows="10" cols="50">{{ task.descripcion }}</textarea>
                    </center>
                </p>

                <p>
                    <input type="submit" class="button2" value="Modificar tarea">
                </p>

                <center>
                    <button type="submit" class="buttonAnadirTarea" onClick="window.location.href='Interfaz_tecnico.html';">Cancelar</button>
                </center>
            </form>
        </div>

    <!-- </center> -->
    {% endblock %}