{% extends 'base.html' %}

{% block head %}

    <title> Vista de encargado </title>

    <link rel="shortcut icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/Archerd6/Aplicacion-robots-asistenciales-Web/main/Documentos%20del%20proyecto/Logo.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

{% endblock %}

{% block body %}

<a style="float:right" href="index.html">Cerrar sesión</a>
    <center>
        <h1 class="principal"> Vista de encargado Artemisa</h1>
    </center>

    <div class="inline-div-izquierda">

        <h1 class="Copper">Tareas</h1>
        <center>
            <table>
                <tr>
                    <th> Tarea</th>
                    <th>Atributos</th>
            
                </tr>
                {% for task in tasks %} 
                <tr>
                     <td> {{ task.content }}</td> 
                     <td>
                        {% for atributo in atributos %}
                        <li>{{ task.nombre }}</li>
                        {% endfor %}
                    </td> 
                   
                </tr>
                {% endfor %}
                </table>

        </center>
    </div>

    <div class="inline-div-izquierda2">
        <br> <br> <br> <br> <br>
        <button type="button" class="button3" onClick="anadir()">+</button>


    </div>

    <center>
        <div class="inline-div-izquierda">
            <h1 class="Copper"> Tareas asignadas</h1>

            <ul id="myList">
            </ul>


        </div>


    </center>

    <div class="inline-div-izquierda2">
        <br> <br> <br> <br> <br>
        <button type="button" class="button4" onClick="eliminar()">-</button> <br>

    </div>

    <button id="boton2" class="button2" onclick="window.location.href='interfaz_encargado.html';">Reset</button>
{% endblock %}