{% extends 'base.html' %}

{% block head %}

  <title> Vista de técnico </title>
<link rel="shortcut icon" type="image/x-icon"
    href="https://raw.githubusercontent.com/Archerd6/Aplicacion-robots-asistenciales-Web/main/Documentos%20del%20proyecto/Logo.png" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>

{% endblock %}

{% block body %}
<!-- <script>
  var clicks = 12;
  var robots = 4;

  function anadir() {
    clicks += 1;
    document.getElementById("clicks").innerHTML = clicks;
  };

  function eliminar() {
    if (clicks > 0) {
      clicks -= 1;
      document.getElementById("clicks").innerHTML = clicks;
    }
  };

  function anadirR() {
    robots += 1;
    document.getElementById("robots").innerHTML = robots;
  };

  function eliminarR() {
    if (robots > 0) {
      robots -= 1;
      document.getElementById("robots").innerHTML = robots;
    }
  };

  function anadirH() {
    var nuevaTarea = document.createElement('li');
    var newTarea = prompt("Nº de la tarea a añadir");
    nuevaTarea.appendChild(document.createTextNode('Tarea ' + newTarea + ' ' + '-'.repeat(53)));
    document.getElementById("myList").appendChild(nuevaTarea);
  };

  function eliminarH() {
    const list = document.getElementById("myList");
    list.removeChild(list.lastChild);
  };

  function onLoadFunctions() {
    for (let i = 1; i < 13; i++) {
      var nuevaTarea = document.createElement('li');
      var newTarea = i
      nuevaTarea.appendChild(document.createTextNode('Tarea ' + newTarea + ' ' + '-'.repeat(53)));
      document.querySelector('ul').appendChild(nuevaTarea);
    }

  }
  window.onload = onLoadFunctions;

</script> -->
<!--  -->
  <a style="float:right" href="index.html">Cerrar sesión</a>
  <center>
    <h1 class="principal"> Vista de técnico Artemisa</h1>
  </center>

  <div class="inline-div-izquierda">

    <h1 class="Copper">Tareas</h1>
    <center>

      <ul id="myList">
      </ul>

    </center>
  </div>

  <div class="inline-div-izquierda2">
    <br> <br> <br> <br> <br>
    <button type="button" class="button3" onClick="window.location.href='interfaz_tareas.html';">+</button>
    <button type="button" class="button4" onClick="">-</button> <br>
    Tareas:
    <a id="clicks">12</a> <br>
  </div>

  <center>
    <div class="inline-div-izquierda">
      <h1 class="Copper"> Robots</h1>


      &nbsp; &nbsp; &nbsp; Robot 1 ------------------------------------------------------<br>

      &nbsp; &nbsp; &nbsp; Robot 2 ------------------------------------------------------<br>

      &nbsp; &nbsp; &nbsp; Robot 3 ------------------------------------------------------<br>

      &nbsp; &nbsp; &nbsp; Robot 4 ------------------------------------------------------ <br>

      &nbsp; &nbsp; &nbsp; Robot 5 ------------------------------------------------------ <br>

    </div>

    <br>
    <br>

  </center>


  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <center>
    <button id="boton2" class="button2" onclick="window.location.href='Interfaz_tecnico.html';">Reset</button>
  </center>

  {% endblock %}