a:link {
    text-decoration: none;
    color: rgb(6, 50, 115);
}

a:visited {
    text-decoration: none;
    color: rgb(6, 50, 115);
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

body {
    background-color: #a1d8fb;
}

h1.Copper {
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center
}

h1.principal {
    font-family: "Audiowide", sans-serif;
    color: rgb(6, 50, 115);
}

h3{
    font-size: 17px; 
    color: #0e0e0e;   
}

label{
    display: block; 
    float: center;  
  }

.button {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  

.button:hover {
    background-color: #3e8e41
}

 

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

  
.button2 {
    width: 20%;
    height: 50px;
    position: absolute;
    top: 88%;
    left: 40%;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 600px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0462aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button2:hover {
    background-color: #3e6f8e
}


.button2:active {
    background-color: #3e6f8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button3 {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background-color: #d8ffd8;
}

.button3:hover {
    background-color: #5aff31
}

.button4 {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background-color: #ffb7b7;
}

.button4:hover {
    background-color: #ff4646
}

.button5 {
    width: 20%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 600px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #aa9f04;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button5:hover {
    background-color: #8a8e3e
}


.button5:active {
    background-color: #8b8e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.inline-div-derecha {
    width: 50%;
    float: right;
}

.inline-div-izquierda {
    width: 500px;
    float: left;
}

.inline-div-izquierda2 {
    width: 72px;
    float: left;
}

.buttonAnadirTarea {
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 10px; 
    margin-top: 10px;   
    text-transform: uppercase;
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
    color: #fff;
    background-color: #0462aa;
    border: none;
}

.buttonAnadirTarea2 {
    width: 22%;
    height: 25px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #b2feb2;
    border: none;
    border-radius: 15px;
}
.buttonAnadirTarea2:active{
    transform: translateY(4px);
}

.buttonAnadirTarea2:hover {
    background-color: #82ff63
}

.inline-div {
    margin-left: 30%;
}

div.acceso {
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 20px;
    padding-bottom: 30px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
}

input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 30px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #008cff; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 5px; 
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #008cff; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px}

ul {
    list-style-type: none;
}

table {
    border: 2px solid rgb(140, 209, 255);
    border-collapse: collapse;
    width: 95%;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Segoe UI";
    text-align: center;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
    background-color: #005ba0;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #005ba0;
}